@{
    ViewBag.Title = "Issue PR";
}

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $.validate({
                modules: 'date, file',
                form: '#form_issue'
            });

            $(".datepicker").datepicker({
                dateFormat: 'dd-mm-yy',
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true,
                minDate: new Date()//set minDate is today
            });

            $("#condition").change(function () {
                if ($(this).val() == "Urgent") {
                    $("#urgent").show();
                    $("#reason").attr("data-validation", "required");
                } else {
                    $("#urgent").hide();
                }
            });

            $("#nok_plant").change(function () {
                $("#process").empty();
                $("#product").empty();
                $("#type").empty();
                if ($(this).val() != "") {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("GetDescriptionByPlant")',
                        dataType: 'json',
                        data: { plant: $("#nok_plant").val() },
                        success: function (datas) {
                            $("#process").append('<option value=""></option>');
                            $.each(datas, function (i, data) {
                                $("#process").append('<option value="' + data.Value + '">' +
                                     data.Text + '</option>');
                            });
                        },
                        error: function (ex) {
                            alert('Failed to retrieve process.' + ex);
                        }
                    });
                }
                return false;
            });

            $("#process").change(function () {
                $("#product").empty();
                $("#type").empty();
                if ($(this).val() != "") {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("GetProductByProcess")',
                        dataType: 'json',
                        data: { plant: $("#nok_plant").val(), desc: $("#process").val() },
                        success: function (datas) {
                            $("#product").append('<option value=""></option>');
                            $.each(datas, function (i, data) {
                                $("#product").append('<option value="' + data.Value + '">' +
                                     data.Text + '</option>');
                            });
                        },
                        error: function (ex) {
                            alert('Failed to retrieve product.' + ex);
                        }
                    });
                }
                return false;
            });

            $("#product").change(function () {
                $("#type").empty();
                if ($(this).val() != "") {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Action("GetTypeByProduct")',
                        dataType: 'json',
                        data: { plant: $("#nok_plant").val(), desc: $("#process").val(), prod: $("#product").val() },
                        success: function (datas) {
                            $("#type").append('<option value=""></option>');
                            $.each(datas, function (i, data) {
                                $("#type").append('<option value="' + data.Value + '">' + data.Text + '</option>');
                            });
                        },
                        error: function (ex) {
                            alert('Failed to retrieve type.' + ex);
                        }
                    });
                }
                return false;
            });
        });
    </script>
}

<form class="form-horizontal row-fluid" id="form_issue" name="form_issue" action="@Url.Action("Login", "Account")" method="post">
    <fieldset>

        <!-- Form Name -->
        <legend>PR</legend>

        <div class="span5">
            <!-- Select Basic -->
            <div class="control-group">
                <label class="control-label" for="condition">Purchase Condition** :</label>
                <div class="controls">
                    <select id="condition" name="condition" class="input-medium" data-validation="required">
                        <option value="">--</option>
                        <option>Urgent</option>
                        <option>Normal</option>
                    </select>
                </div>
            </div>

            <!-- Text input-->
            <div class="control-group">
                <label class="control-label" for="due_dt">Due Date :</label>
                <div class="controls">
                    <input id="due_dt" name="due_dt" type="text" class="input-medium datepicker" readonly="true"
                        data-validation="date" data-validation-format="dd-mm-yyyy">
                </div>
            </div>

            <!-- Textarea -->
            <div class="control-group" id="urgent" style="display:none;">
                <label class="control-label" for="reason">Reason :</label>
                <div class="controls">
                    <textarea id="reason" name="reason"></textarea>
                </div>
            </div>

            <!-- Text input-->
            <div class="control-group">
                <label class="control-label" for="issue_dt">Issue Date :</label>
                <div class="controls">
                    <input id="issue_dt" name="issue_dt" type="text" value="@DateTime.Now.ToShortDateString()" class="input-large" disabled="disabled">
                </div>
            </div>

            <!-- Text input-->
            @*<div class="control-group">
                <label class="control-label" for="issue_by">Issue by :</label>
                <div class="controls">
                    <input id="issue_by" name="issue_by" type="text" placeholder="" class="input-medium">
                </div>
            </div>*@

            <!-- Text input-->
            <div class="control-group">
                <label class="control-label" for="group">Issue Group :</label>
                <div class="controls">
                    <input id="group" name="group" type="text" value="@ViewBag.GroupName" class="input-large" disabled="disabled">
                </div>
            </div>

            <!-- Text input-->
            <div class="control-group">
                <label class="control-label" for="ext">Internal Phone :</label>
                <div class="controls">
                    <input id="ext" name="ext" type="text" placeholder="XXXX" class="input-small" maxlength="4">
                </div>
            </div>

            <!-- Text input-->
            <div class="control-group">
                <label class="control-label" for="cost_code">Cost code** :</label>
                <div class="controls">
                    <input id="cost_code" name="cost_code" type="text" class="input-medium" data-validation="number" data-validation-allowing="range[1000;9999]">
                </div>
            </div>
        </div>
        <div class="span6">
            <!-- Select Basic -->
            <div class="control-group">
                <label class="control-label" for="rank">Rank :</label>
                <div class="controls">
                    <select id="rank" name="rank" class="input-small">
                        <option>-</option>
                        <option>A</option>
                        <option>B</option>
                        <option>C</option>
                        <option>D</option>
                    </select>
                </div>
            </div>

            <!-- Text input-->
            <div class="control-group">
                <label class="control-label" for="item_code">Item code/Part no.** :</label>
                <div class="controls">
                    <input id="item_code" name="item_code" type="text" class="input-large" data-validation="required">
                </div>
            </div>

            <!-- Text input-->
            @*<div class="control-group">
                <label class="control-label" for="part_no">Part no. :</label>
                <div class="controls">
                    <input id="part_no" name="part_no" type="text" placeholder="" class="input-large">
                </div>
            </div>*@

            <!-- Select Basic -->
            <div class="control-group">
                <label class="control-label" for="nok_plant">NOK Plant** :</label>
                <div class="controls">
                    <select id="nok_plant" name="nok_plant" class="input-large" data-validation="required">
                        <option value=""></option>
                        @foreach (var item in ViewBag.NOKPlant)
                        {
                            <option value="@item.id">@item.name</option>
                        }
                    </select>
                </div>
            </div>

            <!-- Select Basic -->
            <div class="control-group">
                <label class="control-label" for="process">Process** :</label>
                <div class="controls">
                    <select id="process" name="process" class="input-large" data-validation="required">
                    </select>
                </div>
            </div>

            <!-- Select Basic -->
            <div class="control-group">
                <label class="control-label" for="product">Product** :</label>
                <div class="controls">
                    <select id="product" name="product" class="input-large" data-validation="required">
                    </select>
                </div>
            </div>

            <!-- Select Basic -->
            <div class="control-group">
                <label class="control-label" for="type">Type** :</label>
                <div class="controls">
                    <select id="type" name="type" class="input-large" data-validation="required">
                    </select>
                </div>
            </div>

            <!-- Text input-->
            <div class="control-group">
                <label class="control-label" for="problem">Mold Problem** :</label>
                <div class="controls">
                    <textarea id="problem" name="problem" class="input-large" data-validation="required"></textarea>
                </div>
            </div>

            <!-- Text input-->
            <div class="control-group">
                <label class="control-label" for="contact">Prior contact to NOK :</label>
                <div class="controls">
                    <input id="contact" name="contact" type="text" placeholder="" class="input-large">
                </div>
            </div>

            <!-- Button (Double) -->
            <div class="control-group">
                <label class="control-label" for="btnSubmit"></label>
                <div class="controls">
                    <button id="btnSubmit" name="btnSubmit" class="btn btn-primary">Submit</button>
                    <button id="btnClear" name="btnClear" class="btn btn-danger">Clear</button>
                </div>
            </div>
        </div>
    </fieldset>
</form>